.App {
  text-align: center;
  background-color: #1f1f1f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.carouselSection{
  background-color: #1f1f1f;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.PageTitle{
  color: rgb(185, 185, 0);
  margin: 50px;
}

.Cards{
  padding-top: 100px;
  gap: 50px;
}

#card1{
  color: #1f1f1f;
  background-color: red;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* General Accordion Styling */
.accordion {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  font-family: 'Arial', sans-serif;
  background-color: transparent; /* Transparent background for the entire accordion */
  overflow: hidden;
}

.accordion-item {
  background-color: #ADD8E6; /* Lighter blue for each item */
  margin-bottom: 10px; /* Increased margin between items for more space */
  border: none; /* Remove borders */
  border-radius: 15px; /* Rounded corners for each item */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for a blocky effect */
}

.accordion-header {
  background-color: #68BDDB; /* SUFF color for headers */
  padding: 10px 15px; /* Increased padding for a blocky look */
  cursor: pointer;
  font-size: 20px; /* Slightly larger font size */
  font-weight: bold;
  color: #224172; /* DEEP color for text */
  transition: background-color 0.3s ease;
  border: none; /* Remove borders */
 
}

.accordion-header:hover {
  background-color: #009DDE; /* WAVES color for hover */
}

.accordion-body {
  padding: 10px 15px; /* Increased padding for a blocky look */
  background-color: #ADD8E6; /* Lighter blue for body */
  color: #0167AF; /* SAPPHIRE color for text */
  border: none; /* Remove borders */

}

.accordion-body p {
  font-size: 16px;
  line-height: 1.6;
  color: #0167AF; /* SAPPHIRE color for text */
  margin: 0 0 15px 0; /* Increased margin between paragraphs */
}

/* Image Styling */
.accordion-body img {
  display: block;
  margin: 0 auto 20px auto; /* Increased margin below the image */
  border-radius: 15px; /* More rounded corners for images */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for a blocky effect */
}